body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#editor {
  margin: 0 auto;
  border: 1px solid black;
  width: 50%
}

#container-editor textarea {
  margin: 0 auto;
  width: 95%;
  height: 30vh;
}

#preview {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

img {
  max-width: 50px;
}

.titulo {
  border: 1px solid green;
}